<%- include partials/header.ejs %>
  <div class="row-space-around">
    <div class="album-list">
      <h2>Records</h2>
      <% albums.forEach( album => { %>
        <div>
          <h3><a href="/albums/<%= album.title %>"><%= album.title %></a></h3>
          <span><%= album.artist %></span>
        </div>
      <% }) %>
    </div>

    <div class='post-column'>
      <h2>Recent Reviews</h2>
      <% if (reviews[0].title) {
        reviews.forEach( review => { %>
          <div class='box blue-box'>
            <div class="red-box">
              <div class="row-space-between">
                <h3> <a href="/albums/<%= review.title%>" > <%= review.title %> </a> </h3>
                <p> <%= moment(review.review_date).format('MMM-DD-YY') %> </p>
              </div>
              <p> <%= review.content %> </p>
              <p> by <a href="/profile/<%= review.username%>" > <%= review.username %> </a> </p>
            </div>
          </div>
        <% })
      } else { %>
        <p class='box blue-box'> There are no reviews </p>
      <% } %>
    </div>
  </div>

<%- include partials/footer.ejs %>
