<title>Vinyl: <%= reviews[0].username %></title>

<%- include partials/header.ejs %>

  <img class='profile-pic' src='<%= reviews[0].picture %>'/>

  <div class='user-column'>
    <h2><%= reviews[0].username %></h2>
    <p>Email: <%= reviews[0].email %></p>
    <p>Join Date: <%= moment(reviews[0].join_date).format('MMM-DD-YY') %></p>
  </div>

  <div class='post-column'>
    <h2>Reviews</h2>
    <% if (reviews[0].title) {
      reviews.forEach( review => { %>
        <div class="box blue-box">
          <div class="red-box">
            <div class="row-space-between">
              <h3> <a href="/albums/<%= review.title%>" > <%= review.title %> </a> </h3>
              <p> <%= moment(review.review_date).format('MMM-DD-YY') %> </p>
            </div>
            <p> <%= review.content %> </p>
            <p> by <a href="/users/<%= review.username%>" > <%= review.username %> </a> </p>
          </div>
          <% if (review.username === username) { %>
            <img id="<%= review.review_id%>" src="/trashcan.png" alt="trashcan" class="trashcan">
          <% } %>
        </div>
      <% })
    } else { %>
      <p class='box blue-box'> This user has no reviews </p>
    <% } %>
  </div>

<%- include partials/footer.ejs %>
